<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>Previsualizador de Markdown</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Previsualizador de Markdown</ion-title>
        </ion-toolbar>
      </ion-header>
      <div id="container">
        <div class="editor">
          <div class="texto-md">
            <h2>Digite un texto Markdown</h2>
            <textarea style="height:auto" 
                      rows="16" 
                      class='area-de-texto' 
                      v-model='textoMd'>
            </textarea>
          </div>
          <div class="html-gen">
            <h2>Previsualización</h2>
            <div v-html='htmlGen'
                 ></div>
          </div>
        </div>
      </div>
    </ion-content>
    <ion-footer>
      <strong>Ready to create an app?</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </ion-footer>
  </ion-page>
</template>

<script setup lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar } from '@ionic/vue';

import { ref, computed } from 'vue'
import { marked } from "marked"

const textoMd = ref("")

const htmlGen = computed(() => marked(textoMd.value))
</script>

<style scoped>
#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #8c8c8c;
  
  margin: 0;
}

#container a {
  text-decoration: none;
}

.editor {
  width: 100%;
  display: flex;
}

.html-gen {
  width: 50%;
  padding: 1rem;
  text-align: left;
}

.area-de-texto {
  width: 100%
}

.texto-md {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border: none;
  border-right: 1px solid #ccc;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}
</style>
